main {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }

  .textoMain {
    z-index: 2;
    color: #cacaca;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    padding: 5rem;
  }

  h1 {
    color: white;
    font-size: 4.5rem;
  }

  h2 {
    color: #89898b;
    font-size: 3.2rem;
    font-weight: 600;
  }

  span {
    color: #89898b;
    font-size: 2rem;
    padding: 3rem;
  }