* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 .tela {
    width: 100vw;
    height: 100vh;
    background-color: blue;
 }
 
 /* De 0px até 500px */
 @media screen and (max-width: 500px) {
    .tela {
       background-color: red;
    }
 }
 
 /* De 501px até 800px */
 @media screen and (min-width: 501px) and (max-width: 800px) {
    .tela {
       background-color: green;
    }
 }