* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%; /* 15px */
}

header {
  background: #380025;
  width: 100%;
  height: auto;
}

body{
    background: hsl(220, 18%, 93%);
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.header img {
  width: 6rem;
  margin-left: 2rem;
}

.nav p {
  color: #cacaca;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 2rem;
}

.icones-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2rem;
}

.icones-header img {
  width: 2.2rem;
  height: auto;
  transform: 1s;
}

.icon-user:hover,
.icon-carrinho:hover {
  cursor: pointer;
  scale: 1.2;
}

.main{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    
}
.card1{
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 1.5rem;
    

}

.card1 .burguinho{
    display: flex;
    align-items: center;
    width: 15rem;
    flex-direction: column;
}

.card1 span{
width: 15rem;
margin-top:2rem;
margin-bottom: 1rem;
}

.card1 .icon{
    width: 2rem;
    margin-top: 1rem;
}

.card2{
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 1.5rem;
    

}

.card2 .burguinho{
    display: flex;
    align-items: center;
    width: 15rem;
    flex-direction: column;
}

.card2 span{
width: 15rem;
margin-top:2rem;
margin-bottom: 1rem;
}

.card2 .icon{
    width: 2rem;
    margin-top: 1rem;
}


