#table {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

#table {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#table span {
    font-weight: 800;
}
td {
    text-align: center;
    width: 10rem;
}

thead td {
    font-weight: 700;
}

button {
    width: 4rem;
    background-color:  rgb(197, 80, 99);
    border: none;
    border-radius: 10px;
    height: 1.5rem;
    font-weight: 700;
    font-size: 1rem;
}

table a {
        text-decoration: none;
        color: black;
        font-weight: 700;
        font-size: 1rem;

}