@font-face {
  font-family: fontgoogle;
  src: url(./Product\ Sans\ Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
  margin: 10px;
}

p {
  font-family: arial, sans-serif;
  font-size: 13px;
  padding: 0, 0, 0, 15px;
  color: #2a2c36;

  transition: 0.5s;
}

p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.iconeHeader {
  width: 24px;
  height: 24px;
  transition: 0.5s;
  color: #2a2c36;
}

.iconeHeader:hover {
  cursor: pointer;
  opacity: 0.5;
}

.perfil {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  margin: 1px solid transparent;
  transition: 0.5s;
}

.perfil:hover {
  cursor: pointer;
  transform: scale(0.5);
}

main {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.letraGoogle {
  font-family: fontgoogle;
  font-size: 80px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 90px;
}

.g {
  color: #4285f4;
}

.o {
  color: #db4437;
}

.o2 {
  color: #f4b400;
}

.g2 {
  color: #4285f4;
}

.l {
  color: #0f9d58;
}

.e2 {
  color: #db4437;
}

.search {
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 1px, 50px, 1px, 52px;
  border: 1px solid #bdbfc4;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 17px;
}

input {
  width: 500px;
  border: none;
  border-radius: 80px;
  outline: 0;
  padding-left: 20px;
}

.search:hover {
  box-shadow: 0px 0px 5px gray;
}

.iconBody {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.iconBody:hover {
  cursor: pointer;
  transform: scale(0.5);
}

#iconSearch {
  margin-left: 15px;
}

#iconCamera {
  margin-right: 15px;
}

.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.botao button {
  margin-top: 10px;
  border: rgb(155, 146, 146);
  background-color: rgb(235, 232, 232);
  font-family: Arial, Sans-Serif;
  height: 34px;
  width: 141px;
  color: #000015;
}

.botao button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgb(202, 201, 201);
}


footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgba(155, 152, 152, 0.692);
}

.rodapes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 15px;
    font-family: Arial, Sans-Serif;
    font-size: 12px;
    cursor:pointer;
}


.rodapes .rodape1 ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 12px;  
}


.rodapes .rodape2 ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 12px;
}
