* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color:rgba(105, 152, 214, 0.815);
    gap: 2rem;
}

#links a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.76);
    font-weight: 700;
}