* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: rgb(197, 80, 99);
    gap: 2rem;
}

#links a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}