main {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.transparente {
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
}

  .textoMain {
    z-index: 2;
    color: #cacaca;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    padding: 5rem;
  }
  
  h1 {
    color: white;
    font-size: 4.5rem;
  }
  
  h2 {
    color: #89898b;
    font-size: 3.2rem;
    font-weight: 600;
  }
  
  span {
    color: #89898b;
    font-size: 2rem;
    padding: 3rem;
  }
  
  .botaoMain {
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #28272cf6;
    background: radial-gradient(
      circle,
      rgba(42, 42, 42, 0) 50%,
      rgba(92, 92, 92, 1) 98%
    );
    text-decoration: none;
    border: 1px solid #706868;
    width: 15rem;
    height: 4.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 3rem;
    transition: 1s;
    margin-right: 2rem;
    cursor: pointer;
    color: #cacaca;
  }
  
  .botaoMain button {
    color: #cacaca;
    cursor: pointer;
    border: none;
  }
  .botaoMain:hover {
    color: #28272cf6;
    background-color: #cacaca;
  }
  .background {
    background-size: cover;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    position: absolute;
  }
  
  .box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  
  .box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35rem;
    height: 35rem;
    background-color: #1f1e25;
    border-radius: 2rem;
    border: 1px solid #4e4949;
    background: linear-gradient(
      16deg,
      rgba(11, 11, 11, 1) 33%,
      rgba(29, 29, 29, 1) 69%,
      rgba(54, 53, 53, 1) 87%,
      rgba(87, 86, 84, 1) 98%
    );
    transition: 1s;
    animation: changeBackgroundBox1 5s infinite;
  }
  @keyframes changeBackgroundBox1 {
    0% {
      border-color: #919084;
    }
    50% {
      border-color: #707070;
    }
    100% {
      border-color: #f1f1f1;
    }
  }
  .box1:hover {
    scale: 1.1;
    border: 2px solid;
  }
  
  .p1 {
    color: #706868;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 2rem;
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }
  .p1 span {
    display: flex;
    margin-right: 20rem;
    color: white;
  }
  
  .imghtml {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    margin-left: 15rem;
  }
  
  .p1Box1 {
    margin-left: 2rem;
    margin-right: 2rem;
    color: #706868;
    font-size: 1.2rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
  }
  
  .box1 button {
    color: #cacaca;
    background-color: #1b1a1e;
    display: end;
    align-items: end;
    justify-content: flex-end;
    text-align: center;
    margin-left: 25rem;
    margin-bottom: 1.8rem;
    border: none;
    border: 1px solid #4e4949;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    width: 10rem;
    height: 3rem;
    transition: 1s;
    animation: backgroundButton1 7s infinite;
  }
  @keyframes backgroundButton1 {
    0% {
      border-color: #919084;
    }
    50% {
      border-color: #707070;
    }
    100% {
      border-color: #f1f1f1;
    }
  }
  .box1 button:hover {
    cursor: pointer;
    scale: 1.1;
  }
  
  .box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 35rem;
    height: 35rem;
    background-color: #1f1e25;
    border-radius: 2rem;
    border: 1px solid #4e4949;
    background: linear-gradient(
      16deg,
      rgba(11, 11, 11, 1) 33%,
      rgba(29, 29, 29, 1) 69%,
      rgba(54, 53, 53, 1) 87%,
      rgba(87, 86, 84, 1) 98%
    );
    transition: 1s;
    animation: changeBackgroundBox2 5s infinite;
  }
  @keyframes changeBackgroundBox2 {
    0% {
      border-color: #919084;
    }
    50% {
      border-color: #707070;
    }
    100% {
      border-color: #f1f1f1;
    }
  }
  .box2:hover {
    scale: 1.1;
    border: 2px solid;
  }
  
  .p2 {
    color: #706868;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 2rem;
    /* margin-top: 1.5rem; */
    margin-bottom: 5rem;
    font-size: 1.2rem;
  }
  
  .p2 span {
    display: flex;
    margin-right: 20rem;
    color: white;
  }
  
  .imgcss {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    margin-bottom: 3rem;
    margin-left: 15rem;
  }
  
  .p2Box2 {
    margin-left: 2rem;
    margin-right: 2rem;
    color: #706868;
    font-size: 1.2rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
  }
  
  .box2 button {
    color: #cacaca;
    background-color: #1b1a1e;
    display: end;
    align-items: end;
    justify-content: flex-end;
    text-align: center;
    margin-left: 25rem;
    border: none;
    border: 1px solid #4e4949;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    width: 10rem;
    height: 3rem;
    transition: 1s;
    animation: backgroundButton2 7s infinite;
  }
  @keyframes backgroundButton2 {
    0% {
      border-color: #919084;
    }
    50% {
      border-color: #707070;
    }
    100% {
      border-color: #f1f1f1;
    }
  }
  
  .box2 button:hover {
    cursor: pointer;
    scale: 1.1;
  }
  
  .box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 35rem;
    height: 35rem;
    border-radius: 2rem;
    border: 1px solid #4e4949;
    background: linear-gradient(
      16deg,
      rgba(11, 11, 11, 1) 33%,
      rgba(29, 29, 29, 1) 69%,
      rgba(54, 53, 53, 1) 87%,
      rgba(87, 86, 84, 1) 98%
    );
    transition: 1s;
    animation: changeBackgroundBox3 5s infinite;
  }
  @keyframes changeBackgroundBox3 {
    0% {
      border-color: #919084;
    }
    50% {
      border-color: #707070;
    }
    100% {
      border-color: #f1f1f1;
    }
  }
  .box3:hover {
    scale: 1.1;
    border: 2px solid;
  }
  
  .p3 {
    color: #706868;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 8rem;
    font-size: 1.2rem;
  }
  
  .p3 span {
    display: flex;
    margin-right: 20rem;
    color: white;
  }
  
  .imgjs {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    margin-left: 15rem;
  }
  
  .p3Box3 {
    margin-left: 2rem;
    margin-right: 2rem;
    color: #706868;
    font-size: 1.2rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
  }
  
  .box3 button {
    background-color: #1b1a1e;
    color: #cacaca;
    display: end;
    align-items: end;
    justify-content: flex-end;
    text-align: center;
    margin-left: 25rem;
    margin-top: 1.4rem;
    border: none;
    border: 1px solid #4e4949;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    transition: 1s;
    animation: backgroundButton3 7s infinite;
  }
  @keyframes backgroundButton3 {
    0% {
      border-color: #919084;
    }
    50% {
      border-color: #707070;
    }
    100% {
      border-color: #f1f1f1;
    }
  }
  .box3 button:hover {
    cursor: pointer;
    scale: 1.1;
  }
  
  @media screen and (max-width: 320px) {
    html {
      background-image: url(../../Images/background.png);
      background-position: center;
      height: 220rem;
      width: 10rem;
      font-size: 40%;
    }
  
    body {
      overflow: scroll;
    }
  
    .header {
      height: 5rem;
      margin-top: 4rem;
    }
  
    .nav {
      font-size: 1rem;
      margin-right: 9rem;
      display: none;
      justify-content: space-around;
    }
  
    .transparente {
      background-color: rgba(0, 0, 0, 0);
    }
  
    .acessar button {
      width: 10rem;
      height: 2rem;
    }
  
    .cadastro {
      width: 15rem;
      height: 4rem;
      font-size: 0.5rem;
    }
  
    .logo {
      margin: 2rem 0;
    }
  
    .box {
      flex-direction: column;
      gap: 3rem;
    }
    .box1 {
      width: 30rem;
      height: 35rem;
      padding-bottom: 2.4rem;
      padding-right: 10rem;
    }
    .p1 {
      padding-left: 29rem;
      position: relative;
      top: 3rem;
    }
    .imghtml {
      margin-left: 34rem;
    }
    .p1Box1 {
      margin-right: 17rem;
      margin-left: 17rem;
      position: relative;
      left: 5rem;
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 1.5rem;
    }
  
    .box1 button {
      font-size: 1.5rem;
      width: 14rem;
      height: 4rem;
      position: relative;
      bottom: 1.9rem;
      left: 0.3rem;
    }
    .box2 {
      width: 30rem;
      height: 35rem;
      padding-bottom: 5rem;
      padding-right: 10rem;
    }
    .p2 {
      padding-left: 29rem;
      position: relative;
      top: 5rem;
    }
    .p2Box2 {
      font-size: 1.5rem;
      text-align: center;
      margin-left: 5rem;
      margin-right: 5rem;
      position: relative;
      left: 5rem;
    }
    .imgcss {
      margin-left: 22.4rem;
    }
    .box2 button {
      font-size: 1.5rem;
      width: 14rem;
      height: 4rem;
      position: relative;
      bottom: 0.3rem;
      left: 0.4rem;
    }
    .box3 {
      width: 30rem;
      height: 35rem;
      padding-bottom: 6.3rem;
      padding-right: 10rem;
    }
    .p3 {
      padding-left: 29rem;
      position: relative;
      top: 5rem;
    }
    .p3Box3 {
      font-size: 1.5rem;
      text-align: center;
      position: relative;
      left: 5rem;
    }
    .imgjs {
      margin-right: 6.1rem;
    }
    .box3 button {
      font-size: 1.5rem;
  
      width: 15rem;
      height: 4rem;
      position: relative;
      top: 0.4rem;
    }
  }
  
  @media screen and (min-width: 321px) and (max-width: 730px) {
    html {
      background-image: url(../../Images/background.png);
      background-position: center;
      height: 250rem;
      width: 10rem;
      font-size: 50%;
    }
  
    body {
      overflow: scroll;
      overflow-x: hidden;
    }
  
    .nav {
      font-size: 1rem;
      margin-right: 9rem;
      display: none;
      justify-content: space-around;
    }
  
    .transparente {
      background-color: rgba(0, 0, 0, 0);
    }
  
    .acessar button {
      width: 10rem;
      height: 2rem;
    }
  
    .cadastro {
      width: 15rem;
      height: 4rem;
      font-size: 0.5rem;
    }
  
    .logo {
      margin: 2rem 0;
    }
  
    .botaoMain {
      width: 20rem;
      height: 5.5rem;
      font-size: 2rem;
    }
  
    .box {
      flex-direction: column;
      gap: 3rem;
    }
    .box1 {
      width: 40rem;
      height: 45rem;
      padding-bottom: 2.4rem;
      padding-right: 10rem;
    }
    .p1 {
      padding-left: 29rem;
      position: relative;
      top: 1rem;
    }
    .imghtml {
      margin-left: 34rem;
    }
    .p1Box1 {
      margin-right: 15rem;
      margin-left: 15rem;
      position: relative;
      left: 5rem;
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 2rem;
    }
  
    .box1 button {
      width: 15rem;
      height: 4rem;
      position: relative;
      bottom: 0.2rem;
      left: 5rem;
    }
  
    .box2 {
      width: 40rem;
      height: 45rem;
      padding-bottom: 5rem;
      padding-right: 10rem;
    }
    .p2 {
      padding-left: 29rem;
      position: relative;
      top: 5rem;
    }
    .p2Box2 {
      font-size: 2rem;
      text-align: center;
      margin-left: 2rem;
      margin-right: 2rem;
      position: relative;
      left: 5rem;
    }
    .imgcss {
      margin-left: 22.4rem;
    }
    .box2 button {
      width: 15rem;
      height: 4rem;
      position: relative;
      top: 2.8rem;
      left: 5rem;
    }
    .box3 {
      width: 40rem;
      height: 45rem;
      padding-bottom: 6.3rem;
      padding-right: 10rem;
    }
    .p3 {
      padding-left: 29rem;
      position: relative;
      top: 5rem;
    }
    .p3Box3 {
      font-size: 2rem;
      text-align: center;
      position: relative;
      left: 5rem;
    }
    .imgjs {
      margin-right: 6.1rem;
      margin-left: 18rem;
    }
    .box3 button {
      width: 15rem;
      height: 4rem;
      position: relative;
      top: 2.8rem;
      left: 5rem;
    }
  }
  
  @media screen and (min-width: 731px) and (max-width: 1120px) {
    html {
      background-image: url(../../Images/background.png);
      background-position: center;
      height: 270rem;
      width: 10rem;
      font-size: 50%;
    }
  
    body {
      overflow-x: hidden;
      overflow: scroll;
    }
  
    header {
      height: 8rem;
    }
  
    .nav {
      font-size: 2rem;
    }
  
    .transparente {
      background-color: rgba(0, 0, 0, 0);
    }
  
    .acessar button {
      width: 12rem;
      height: 3rem;
    }
  
    .cadastro {
      width: 15rem;
      height: 4rem;
      font-size: 0.5rem;
    }
  
    .logo {
      margin: 2rem 0;
    }
  
    .botaoMain {
      width: 20rem;
      height: 5.5rem;
      font-size: 2rem;
    }
  
    .box {
      flex-direction: column;
      gap: 3rem;
    }
    .box1 {
      width: 60rem;
      height: 65rem;
      padding-bottom: 2.4rem;
      padding-right: 10rem;
    }
    .p1 {
      padding-left: 29rem;
      position: relative;
      top: 1rem;
    }
    .imghtml {
      margin-left: 34rem;
    }
    .p1Box1 {
      margin-right: 13rem;
      margin-left: 13rem;
      position: relative;
      left: 5rem;
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 2.3rem;
    }
  
    .box1 button {
      width: 15rem;
      height: 4rem;
      position: relative;
      top: 9.2rem;
      left: 15rem;
    }
  
    .box2 {
      width: 60rem;
      height: 65rem;
      padding-bottom: 5rem;
      padding-right: 10rem;
    }
    .p2 {
      padding-left: 29rem;
      position: relative;
      top: 5rem;
    }
    .p2Box2 {
      font-size: 2.3rem;
      text-align: center;
      margin-left: 2rem;
      margin-right: 2rem;
      position: relative;
      left: 5rem;
    }
    .imgcss {
      margin-left: 27.4rem;
    }
    .box2 button {
      width: 15rem;
      height: 4rem;
      position: relative;
      top: 12.3rem;
      left: 15rem;
    }
    .box3 {
      width: 60rem;
      height: 65rem;
      padding-bottom: 6.3rem;
      padding-right: 10rem;
    }
    .p3 {
      padding-left: 29rem;
      position: relative;
      top: 5rem;
    }
    .p3Box3 {
      font-size: 2.3rem;
      text-align: center;
      position: relative;
      left: 5rem;
    }
    .imgjs {
      position: relative;
      left: 11.6rem;
    }
    .box3 button {
      width: 15rem;
      height: 4rem;
      position: relative;
      top: 14.8rem;
      left: 15rem;
    }
  }
  
  @media screen and(min-width:1121px) and (max-width: 1680px) {
    html {
      background-image: url(../../Images/background.png);
      background-position: center;
      height: 200rem;
      width: 10rem;
      font-size: 62.5%;
    }
   body {
    overflow: scroll;
    overflow-x: hidden;
   }
    header {
      height: 9rem;
    }
  
    .nav {
      font-size: 2.5rem;
    }
  
    .acessar button {
      width: 13rem;
      height: 3rem;
    }
  
    .cadastro {
      width: 15rem;
      height: 4rem;
      font-size: 0.5rem;
    }
  
    .logo {
      margin: 2rem 0;
    }
    .textoMain {
      margin-top: 2rem;
    }
    .botaoMain {
      width: 20rem;
      height: 5.5rem;
      font-size: 2rem;
    }
    .box {
      flex-direction: row;
      gap: 3rem;
    }
  
    .box1 {
      width: 80em;
      height: 65rem;
    }
    
    .box2 {
      width: 0rem;
      height: 65rem;
      padding-bottom: 5rem;
      padding-right: 10rem;
    }
    .p2 {
      padding-left: 29rem;
      position: relative;
      top: 5rem;
    }
    .p2Box2 {
      font-size: 2.3rem;
      text-align: center;
      margin-left: 2rem;
      margin-right: 2rem;
      position: relative;
      left: 5rem;
    }
    .imgcss {
      margin-left: 27.4rem;
    }
    .box2 button {
      width: 15rem;
      height: 4rem;
      position: relative;
      top: 12.3rem;
      left: 15rem;
    }
    .box3 {
      width: 60rem;
      height: 65rem;
      padding-bottom: 6.3rem;
      padding-right: 10rem;
    }
    .p3 {
      padding-left: 29rem;
      position: relative;
      top: 5rem;
    }
    .p3Box3 {
      font-size: 2.3rem;
      text-align: center;
      position: relative;
      left: 5rem;
    }
    .imgjs {
      position: relative;
      left: 11.6rem;
    }
    .box3 button {
      width: 15rem;
      height: 4rem;
      position: relative;
      top: 14.8rem;
      left: 15rem;
    }
  }
  
  @media screen and (min-width: 2800px) and (max-width:3000px) {
    html {
      background-image: url(../../Images/background.png);
      background-position: center;
      height: 330rem;
      width: 1rem;
      font-size: 62.5%;
    }
   html {
    overflow: hidden;
   }
    header {
      height: 10rem;
    }
  
    .nav {
      font-size: 2.5rem;
    }
    .acessar button {
      width: 17rem;
      height: 4rem;
      font-size: 2.5rem;
    }
  
    .cadastro {
      width: 17rem;
      height: 4rem;
    }
    .cadastro button {
      font-size: 2.5rem;
    }
    h1 {
      font-size: 5rem;
    }
    
    h2 {
      font-size: 5rem;
    }
    span{
      font-size: 3rem;
    }
    .botaoMain {
      width: 19rem;
      height: 5rem;
      font-size: 2.5rem;
    }
  
    .box1 {
      width: 70em;
      height: 65rem;
  
    }
    
    .imghtml {
      margin-left: 34rem;
    }
    .p1Box1 {
      font-size: 2.3rem;
      margin-left: 2rem;
      margin-right: 10rem;
      position: relative;
      left: 5rem;
    }
    .box1 button {
      font-size: 2rem;
      width: 19rem;
      height: 5rem;
      position: relative;
      top: 10.6rem;
      left: 13rem;
    }
    .p1{
      position: relative;
      bottom: 10rem;
    }
  
    .box2 {
      width: 70em;
      height: 65rem;
      padding-bottom: 5rem;
      padding-right: 10rem;
    }
    .p2 {
      position: relative;
      right: 10rem;
      bottom: 7rem;
    }
    .p2Box2 {
      font-size: 2.3rem;
      text-align: center;
      margin-left: 2rem;
      margin-right: 2rem;
      position: relative;
      left: 5rem;
    }
    .imgcss {
      margin-left: 32rem;
    }
    .box2 button {
      font-size: 2rem;
      width: 19rem;
      height: 5rem;
      position: relative;
      top: 12.5rem;
      left: 18rem;
    }
    .box3 {
      width: 70em;
      height: 65rem;
      padding-bottom: 6.3rem;
      padding-right: 10rem;
    }
    .p3 {
      position: relative;
      right: 10rem;
      bottom: 7rem;
    }
    .p3Box3 {
      font-size: 2.3rem;
      text-align: center;
      position: relative;
      left: 5rem;
    }
    .imgjs {
      position: relative;
      left: 18rem;
    }
    .box3 button {
      font-size: 2rem;
      width: 19rem;
      height: 5rem;
      position: relative;
      top: 15.1rem;
      left: 18rem;
    }

  }