<body>
  <mat-toolbar class="header">
    <div class="linhas">
      <div class="linha1">
        <img
          class="logo"
          src="../../../assets/logoML.png"
          alt="logo Mercado Livre"
        />

        <div class="icones">
          <input
            class="pesquisar"
            type="text"
            placeholder="Buscar produtos, marcas e muito mais"
            name="search"
          />
          <img class="lupa" src="../../../assets/icon-search.png" />
        </div>

        <div class="promo-left">
          <img class="promo" src="../../../assets/icon-desconto.png" />
          <span>Ofertas por tempo limitado</span>
        </div>
      </div>

      <div class="linha2">
        <div class="envio">
          <img class="localizacao" src="../../../assets/localizacao.png" />
         <div class="text-envio">
          <span class="text-enviar">Enviar para Jhonny</span>
          <span class="text-rua">Rua Frederico Jens...</span>
        </div>
        </div>

        <div class="abas">
          <mat-tab-group class="mat-tab">
            <mat-tab label="Categorias"> </mat-tab>
            <mat-tab label="Oferta do Dia"> </mat-tab>
            <mat-tab label="Histórico"> </mat-tab>
            <mat-tab label="Supermercado"> </mat-tab>
            <mat-tab label="Moda"> </mat-tab>
            <mat-tab label="Vender"> </mat-tab>
            <mat-tab label="Contato"> </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </mat-toolbar>
</body>
